# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# TypeScript build files
*.tsbuildinfo
